<section class="flex flex-col w-full items-center">
    <section class="w-3/4 flex-col">
        <article class="w-full flex justify-end">
            <button class="text-gray 
            pr-2 cursor-pointer transiton duration-150 hover:text-[#383737]" (click)="OpenModalToEdit()">
                editar post
            </button>
        </article>
        <article class="flex flex-col gap-8 mt-3 text-wrap">
            <h2 class="text-mainWhite text-4xl">
                <strong>{{title}}</strong>
            </h2>
            <span class="text-secondaryWhite break-words">{{description}}</span>
        </article>
        <article>
            <app-button-main btn_content="excluir post" color_btn="#C21414" (click)="deletePost()"></app-button-main>
        </article>
        <section class="border-2 border-[#959090] mt-5 p-5">
            <article class="flex gap-1 text-base">
                <button class="text-secondaryWhite">adicione um <strong>comentário</strong></button>
            </article>
            <app-comments></app-comments>
        </section>
    </section>
</section>