<article class="flex gap-1 mt-5">
    <span class="text-gray cursor-pointer"><strong>user{{id_user}}</strong></span>
    <p class="text-secondaryWhite">{{content}}</p>
</article>
<article class="flex gap-5">
    <button class="text-gray pr-2 cursor-pointer 
    transiton duration-150 hover:text-[#383737]" (click)="openCommentModal()">
        editar comentário
    </button>
    <button class="text-gray pr-2 cursor-pointer 
    transiton duration-150 hover:text-[#383737]" >
        excluir comentário
    </button>
</article>

