<main class="bg-background flex flex-col gap-20 w-full h-screen p-10">
    <section class="flex items-center gap-3">
        <button>
            <img src="/assets/newpostbtn.svg" alt="novo post" class="w-10">
        </button>
        <span class="text-gray cursor-pointer"><strong>novo post</strong></span>
    </section>

    <section class="w-full flex flex-col gap-20 pb-20" *ngFor='let post of this.posts'>
        <app-post-list title="{{post.title}}" description="quia et suscipit\nsuscipit recusandae consequuntur expedita et
        cim\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet
        architecto"></app-post-list>
    </section>
</main>
